<div class="bg-dark">
  <nav class="navbar navbar-expand-lg bg-dark navbar-dark" id="Contenedor">
    <a class="navbar-brand" href="#">
      <img src="assets/IMG/Logo.png" alt="" width="78px" height="78px" data-toggle="tooltip" title="Aquario Land">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="">Inicio</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbardrop" role="button" data-toggle="dropdown">Peces</a>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="#">Pez Gurami</a>
            <a class="dropdown-item" href="#">Pez Barbo</a>
            <a class="dropdown-item" href="#">Pez Gato</a>
            <a class="dropdown-item" href="#">Pez Espada</a>
            <a class="dropdown-item" href="#">Pez Disco</a>
            <a class="dropdown-item" href="#">Pez Cometa</a>
          </div>
        </li>
        <li class="navbar-nav">
          <a class="nav-link" href="">Contacto</a>
        </li>
      </ul>
      <form class="form-inline" action="">
        <input class="form-control mr-sm-2" type="text" name="" id="pezz" placeholder="Buscar pez">
        <button type="submit" class="btn btn-success" id="btnbuscar" (click)="pez()">Buscar</button>
      </form>
    </div>
  </nav>
</div>

<header>
  <div class="bg-info">
    <div class="bg-info" id="IMG">
      <img src="assets/IMG/Logo.png" alt="" class="img-fluid">
    </div>
  </div>
</header>
