<br>
<footer class="container-fluid bg-dark">
  <div id="foot">
    <div>
      <h1 class="text-secondary">Aquario Land</h1>
      <br>
      <nav class="navbar navbar-expand-lg rounded">
        <ul class="navbar-nav" id="foot2">
          <li class="nav-item"><a class="nav-link" href="">Terminos y condiciones</a></li>
          <li class="nav-item"><a class="nav-link" href="">Contacto</a></li>
          <li class="nav-item"><a class="nav-link" href="">Acerca de</a></li>
        </ul>
        <div class="form-inline" id="nav2">
          <h3 class="text-secondary">Contacto:</h3>
          <a href="https://es-la.facebook.com/" target="_blank"><img alt="Siguenos en Facebook"
              src="https://lh3.googleusercontent.com/-NSLbC_ztNls/T6VX0g6z8AI/AAAAAAAAA0A/_vyIBrmZbuY/s48/facebook48.png"
              width=48 height=48 /></a>
          <a href="https://twitter.com/?lang=es" target="_blank"><img
              src="https://lh6.googleusercontent.com/-vao9pzZoGtk/T6VYC4d1YMI/AAAAAAAAA0U/4rdP2chJido/s48/twitter48.png"
              width=48 height=48 alt="Síguenos en Twitter" /></a>
          <a href="https://www.youtube.com/?hl=es-419" target="_blank"><img alt="Siguenos en YouTube"
              src="https://lh6.googleusercontent.com/-Atgpy-x_OwI/T6mYkA18hYI/AAAAAAAAA1U/qksUJ5uBq3c/s48/youtube48.png"
              width=48 height=48 /></a>
        </div>
      </nav>
      <br><br>
      <h2 class="text-center text-secondary" id="dr">{{mensaje}}{{fecha | date:'yyyy'}}</h2>
    </div>
  </div>
</footer>
