<section>
  <div class="bg-dark rounded" id="DivTitulo">
    <h1 class="text-light" id="tit">Especies de peces</h1>
  </div>

  <div id="Principal" class="bg-info">
    <div id="Cont2">
      <!---->
      <div class="cajas card">
        <img src="assets/IMG/Barbo Rosado.jpg" alt="" class="card-img-top">
        <div class="card-body">
          <h4 class="card-title">Pez Barbo</h4>
          <p class="card-text">Características, habitat, alimentación y compatibilidad</p>
          <a href="#" class="btn btn-primary" id="barbo" (click)="Pezbarbo()">Información</a>
        </div>
      </div>
      <!---->
      <div class="cajas card">
        <img src="assets/IMG/Pez espada.jpg" alt="" class="card-img-top">
        <div class="card-body">
          <h4 class="card-title">Pez Espada</h4>
          <p class="card-text">Características, habitat, alimentación y compatibilidad</p>
          <a href="#" class="btn btn-primary" id="espada" (click)="PezEspada()">Información</a>
        </div>
      </div>
      <!---->
      <div class="cajas card">
        <img src="assets/IMG/Pez-bagre-o-gato-16.jpg" alt="" class="card-img-top">
        <div class="card-body">
          <h4 class="card-title">Pez Gato</h4>
          <p class="card-text">Características, habitat, alimentación y compatibilidad</p>
          <a href="#" class="btn btn-primary" id="gato" (click)="PezGato()">Información</a>
        </div>
      </div>
      <!---->
      <div class="cajas card">
        <img src="assets/IMG/pez-cometa.jpg" alt="" class="card-img-top">
        <div class="card-body">
          <h4 class="card-title">Pez Cometa</h4>
          <p class="card-text">Características, habitat, alimentación y compatibilidad</p>
          <a href="#" class="btn btn-primary" id="cometa" (click)="PezCometa()">Información</a>
        </div>
      </div>
      <!---->
      <div class="cajas card">
        <img src="assets/IMG/pez-disco-animapedia.jpg" alt="" class="card-img-top">
        <div class="card-body">
          <h4 class="card-title">Pez Disco</h4>
          <p class="card-text">Características, habitat, alimentación y compatibilidad</p>
          <a href="#" class="btn btn-primary" id="disco" (click)="PezDisco()">Información</a>
        </div>
      </div>
      <!---->
      <div class="cajas card">
        <img src="assets/IMG/pez-gurami-enano.jpg" alt="" class="card-img-top">
        <div class="card-body">
          <h4 class="card-title">Pez Gurami</h4>
          <p class="card-text">Características, habitat, alimentación y compatibilidad</p>
          <a href="#" class="btn btn-primary" id="gurami" (click)="PezGurami()">Información</a>
        </div>
      </div>
    </div>
  </div>
  <br><br>
  <div class="jumbotron jumbotron-fluid bg-secondary">
    <div class="container" id="CAdmin">
      <div class="card" id="Admin">
        <img src="assets/IMG/Admin.png" alt="" class="card-img-top">
        <h4 class="card-title text-center">Jacob</h4>
      </div>
      <div class="bg-info rounded" id="desc">
        <h4 class="text-center" id="text">Amante de los peces de toda especie.</h4>
      </div>
      <div class="" id="Sus">
        <a href="#" class="btn btn-success mt-5" id="btnSus" (click)="Suscripcion()">Suscribirse</a>
      </div>
    </div>
    
  </div>
</section>
